<app-header></app-header>
<!--<ckeditor [editor]="Editor"-->
          <!--[config]="{exportPdf: exportPdfConfig, placeholder: 'Enter something to write'}"-->
          <!--[(ngModel)]="model.editorData"></ckeditor>-->

<div class="container my-5">
  <div class="d-flex justify-content-between">
    <div class="btn-group my-auto" dropdown>
      <button dropdownToggle type="button" style="min-width: 160px; padding: 8px 12px"
              class="btn btn-light d-flex text-theme-primary fw-bold border-theme-primary justify-content-between">
        Select GR
        <i class="fa-solid fa-caret-down my-auto"></i>
      </button>
      <ul *dropdownMenu class="dropdown-menu shadow border-light">
        <li>
          <a class="dropdown-item d-inline-flex text-theme-primary fw-bold cursor-pointer"
             (click)="setPointFormData()">
            <i class="fas fa-plus my-auto me-2"></i>
            Add New GR
          </a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li *ngFor="let item of [].constructor(5); let i = index" [ngClass]="i===3 ? 'bg-theme-primary-light' : ''">
          <a class="dropdown-item fw-bold d-inline-flex justify-content-between" href="#">
            15.{{(i+1) > 10 ? i+1 : '0'+(i+1)}}
            <i *ngIf="i === 3" class="fas fa-check text-success-dark my-auto"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="my-auto d-flex justify-content-end">
      <span class="d-inline-flex my-auto fw-bold cursor-pointer">
        <i class="fa-solid fa-eye my-auto text-info me-1"></i>
        Preview
      </span>
      <span class="d-inline-flex my-auto fw-bold cursor-pointer ms-4">
        <i class="fa-solid fa-file-pdf my-auto text-danger me-1"></i>
        View as PDF
      </span>
      <span class="d-inline-flex my-auto mx-4 fw-bold cursor-pointer" (click)="setPointFormData(2)">
        <i class="fa-solid fa-pen my-auto text-theme-primary me-1"></i>
        Edit Point
      </span>
      <div class="d-flex my-auto">
        <label class="my-auto me-2 fw-bold">View By:</label>
        <tabset type="pills">
          <tab heading="GR" [active]="settings.sectionTabType === 'GR'"
               (selectTab)="settings.sectionTabType = 'GR'" [customClass]="'fw-bold'"></tab>
          <tab heading="SR" [active]="settings.sectionTabType === 'SR'"
               (selectTab)="settings.sectionTabType = 'SR'" [customClass]="'fw-bold'"></tab>
        </tabset>
      </div>
    </div>
  </div>

  <ng-container>
    <!--child 1-->
    <article class="py-4">
      <div class="card border-0 position-relative border-light">
        <div class="card-body p-4">
          1. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum. {{settings.manageContentForm | json}}
        </div>
        <div class="btn-group my-auto position-absolute" style="top: 50px; right: -20px" dropdown>
          <button dropdownToggle type="button"
                  class="btn border-theme-primary btn-light rounded-circle bg-theme-primary-light">
            <i class="fa-solid fa-ellipsis text--size-15"></i>
            <!--<span class="caret my-auto"></span>-->
          </button>
          <ul *dropdownMenu class="dropdown-menu shadow border-light dropdown-shift">
            <li>
              <a class="dropdown-item d-inline-flex cursor-pointer" (click)="setContentFormData(3)">
                <small class="fa-solid fa-pencil my-auto text-theme-primary me-2"></small> Edit Note
              </a>
            </li>

            <li>
              <a class="dropdown-item d-inline-flex" href="#">
                <small class="fa-regular fa-share-from-square my-auto text-theme-primary me-2"></small> Request Update
              </a>
            </li>
            <li>
              <a class="dropdown-item d-inline-flex" href="#">
                <small class="fa-regular fa-clock my-auto text-theme-primary me-2"></small> View History
              </a>
            </li>
            <li>
              <a class="dropdown-item d-inline-flex" href="#">
                <small class="fa-regular fa-paper-plane my-auto text-theme-primary me-2"></small> Send Approval
              </a>
            </li>
            <li>
              <a class="dropdown-item d-inline-flex cursor-pointer" (click)="setContentFormData()">
                <small class="fa-regular fa-square-plus my-auto text-theme-primary me-2"></small> New Sub Point
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li>
              <a class="dropdown-item text-danger d-inline-flex" href="#">
                <small class="fa-regular fa-trash-alt my-auto text-danger me-2"></small> Remove Note
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!--child 2-->
      <article class="ms-4">
        <div class="card my-2 border-0 position-relative border-light">
          <div class="card-body p-4">
            a. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining
            essentially unchanged.
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
          <div class="btn-group my-auto position-absolute" style="top: 50px; right: -20px" dropdown>
            <button dropdownToggle type="button"
                    class="btn border-theme-primary btn-light rounded-circle bg-theme-primary-light">
              <i class="fa-solid fa-ellipsis text--size-15"></i>
            </button>
            <ul *dropdownMenu class="dropdown-menu shadow border-light dropdown-shift">
              <li>
                <a class="dropdown-item d-inline-flex cursor-pointer" (click)="setContentFormData(3)">
                  <small class="fa-solid fa-pencil my-auto text-theme-primary me-2"></small>
                  Edit Note
                </a>
              </li>

              <li>
                <a class="dropdown-item d-inline-flex">
                  <small class="fa-regular fa-share-from-square my-auto text-theme-primary me-2"></small>
                  Request Update
                </a>
              </li>
              <li>
                <a class="dropdown-item d-inline-flex">
                  <small class="fa-regular fa-clock my-auto text-theme-primary me-2"></small>
                  View History
                </a>
              </li>
              <li>
                <a class="dropdown-item d-inline-flex">
                  <small class="fa-regular fa-paper-plane my-auto text-theme-primary me-2"></small>
                  Send Approval
                </a>
              </li>
              <li>
                <a class="dropdown-item d-inline-flex cursor-pointer" (click)="setContentFormData()">
                  <small class="fa-regular fa-square-plus my-auto text-theme-primary me-2"></small>
                  New Sub Point
                </a>
              </li>
              <li class="divider dropdown-divider"></li>
              <li>
                <a class="dropdown-item text-danger d-inline-flex">
                  <small class="fa-regular fa-trash-alt my-auto text-danger me-2"></small>
                  Remove Note
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!--child 3-->
        <article class="ms-4">
          <div class="card my-2 border-0 position-relative border-light">
            <div class="card-body p-4">
              i) Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              It has survived not only five centuries, but also the leap into electronic typesetting, remaining
              essentially unchanged.
              It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
              and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="btn-group my-auto position-absolute" style="top: 50px; right: -20px" dropdown>
              <button dropdownToggle type="button"
                      class="btn border-theme-primary btn-light rounded-circle bg-theme-primary-light">
                <i class="fa-solid fa-ellipsis text--size-15"></i>
                <!--<span class="caret my-auto"></span>-->
              </button>
              <ul *dropdownMenu class="dropdown-menu shadow border-light dropdown-shift">
                <li>
                  <a class="dropdown-item d-inline-flex cursor-pointer" (click)="setContentFormData(3)">
                    <small class="fa-solid fa-pencil my-auto text-theme-primary me-2"></small> Edit Note
                  </a>
                </li>

                <li>
                  <a class="dropdown-item d-inline-flex" href="#">
                    <small class="fa-regular fa-share-from-square my-auto text-theme-primary me-2"></small> Request Update
                  </a>
                </li>
                <li>
                  <a class="dropdown-item d-inline-flex" href="#">
                    <small class="fa-regular fa-clock my-auto text-theme-primary me-2"></small> View History
                  </a>
                </li>
                <li>
                  <a class="dropdown-item d-inline-flex" href="#">
                    <small class="fa-regular fa-paper-plane my-auto text-theme-primary me-2"></small> Send Approval
                  </a>
                </li>
                <li>
                  <a class="dropdown-item d-inline-flex cursor-pointer" (click)="setContentFormData()">
                    <small class="fa-regular fa-square-plus my-auto text-theme-primary me-2"></small> New Sub Point
                  </a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li>
                  <a class="dropdown-item text-danger d-inline-flex" href="#">
                    <small class="fa-regular fa-trash-alt my-auto text-danger me-2"></small> Remove Note
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </article>
    </article>
  </ng-container>
</div>

<app-manage-point [managePointForm]="settings.managePointForm"
                  (setPointModalData)="setPointModalData($event)"></app-manage-point>
<app-manage-content [manageContentForm]="settings.manageContentForm"
                    (setContentModalData)="setContentModalData($event)"></app-manage-content>
